USE [master]
GO
/****** Object:  Database [UsuariosDB]    Script Date: 4/30/2025 11:04:23 AM ******/
CREATE DATABASE [UsuariosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsuariosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UsuariosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsuariosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UsuariosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsuariosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsuariosDB]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles_Permisos]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles_Permisos](
	[RolId] [int] NOT NULL,
	[PermisoId] [int] NOT NULL,
 CONSTRAINT [PK_Roles_Permisos] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC,
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CorreoElectronico] [nvarchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
	[RolId] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Roles_Permisos]  WITH CHECK ADD  CONSTRAINT [FK_RP_Permisos] FOREIGN KEY([PermisoId])
REFERENCES [dbo].[Permisos] ([Id])
GO
ALTER TABLE [dbo].[Roles_Permisos] CHECK CONSTRAINT [FK_RP_Permisos]
GO
ALTER TABLE [dbo].[Roles_Permisos]  WITH CHECK ADD  CONSTRAINT [FK_RP_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Roles_Permisos] CHECK CONSTRAINT [FK_RP_Roles]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
/****** Object:  StoredProcedure [dbo].[spAddPermisoARol]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Asignar permiso a rol
CREATE PROCEDURE [dbo].[spAddPermisoARol]
    @RolId     INT,
    @PermisoId INT
AS
BEGIN
    INSERT INTO Roles_Permisos(RolId, PermisoId)
    VALUES(@RolId, @PermisoId);
END
GO
/****** Object:  StoredProcedure [dbo].[spDeletePermiso]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar un permiso
CREATE PROCEDURE [dbo].[spDeletePermiso]
    @Id INT
AS
BEGIN
    DELETE FROM Permisos
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spDeleteRole]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar un rol
CREATE PROCEDURE [dbo].[spDeleteRole]
    @Id INT
AS
BEGIN
    DELETE FROM Roles
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spDeleteUsuario]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar usuario
CREATE PROCEDURE [dbo].[spDeleteUsuario]
    @Id INT
AS
BEGIN
    DELETE FROM Usuarios
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetPermisos]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---- Permisos ----

-- Obtener todos los permisos
CREATE PROCEDURE [dbo].[spGetPermisos]
AS
BEGIN
    SELECT Id, Nombre
    FROM Permisos
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetPermisosPorRol]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---- Roles_Permisos ----

-- Obtener permisos asignados a un rol
CREATE PROCEDURE [dbo].[spGetPermisosPorRol]
    @RolId INT
AS
BEGIN
    SELECT P.Id, P.Nombre
    FROM Roles_Permisos RP
    JOIN Permisos P ON RP.PermisoId = P.Id
    WHERE RP.RolId = @RolId
    ORDER BY P.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetRoles]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3) Stored Procedures

-- ---- Roles ----

-- Obtener todos los roles
CREATE PROCEDURE [dbo].[spGetRoles]
AS
BEGIN
    SELECT Id, Nombre
    FROM Roles
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetUsuarios]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---- Usuarios ----

-- Obtener todos los usuarios (con nombre de rol)
CREATE PROCEDURE [dbo].[spGetUsuarios]
AS
BEGIN
    SELECT 
      U.Id,
      U.Nombre,
      U.CorreoElectronico,
      U.Estado,
      U.FechaRegistro,
      R.Id   AS RolId,
      R.Nombre AS RolNombre
    FROM Usuarios U
    JOIN Roles R ON U.RolId = R.Id
    ORDER BY U.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertPermiso]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insertar un permiso
CREATE PROCEDURE [dbo].[spInsertPermiso]
    @Nombre NVARCHAR(50)
AS
BEGIN
    INSERT INTO Permisos(Nombre)
    VALUES(@Nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertRole]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insertar un rol
CREATE PROCEDURE [dbo].[spInsertRole]
    @Nombre NVARCHAR(50)
AS
BEGIN
    INSERT INTO Roles(Nombre)
    VALUES(@Nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertUsuario]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insertar usuario
CREATE PROCEDURE [dbo].[spInsertUsuario]
    @Nombre            NVARCHAR(100),
    @CorreoElectronico NVARCHAR(100),
    @Estado            BIT,
    @RolId             INT
AS
BEGIN
    INSERT INTO Usuarios(Nombre, CorreoElectronico, Estado, RolId)
    VALUES(@Nombre, @CorreoElectronico, @Estado, @RolId);
END
GO
/****** Object:  StoredProcedure [dbo].[spRemovePermisoDeRol]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Remover permiso de rol
CREATE PROCEDURE [dbo].[spRemovePermisoDeRol]
    @RolId     INT,
    @PermisoId INT
AS
BEGIN
    DELETE FROM Roles_Permisos
    WHERE RolId = @RolId
      AND PermisoId = @PermisoId;
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateUsuario]    Script Date: 4/30/2025 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar usuario
CREATE PROCEDURE [dbo].[spUpdateUsuario]
    @Id                INT,
    @Nombre            NVARCHAR(100),
    @CorreoElectronico NVARCHAR(100),
    @Estado            BIT,
    @RolId             INT
AS
BEGIN
    UPDATE Usuarios
    SET Nombre            = @Nombre,
        CorreoElectronico = @CorreoElectronico,
        Estado            = @Estado,
        RolId             = @RolId
    WHERE Id = @Id;
END
GO
USE [master]
GO
